{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'mainpage/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'mainpage/contact.css' %}">
    <title>Document</title>
</head>
<body>

    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about_me' %}">About Me</a></li>
        <li><a href="{% url 'education' %}">Education</a></li>
        <li><a href="{% url 'skills' %}">Skills</a></li>
        <li><a href="https://res.cloudinary.com/hewckvlra/image/upload/v1735593745/Charalambos-Pitris_8_kuxeel.pdf">Download CV</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
        <h1>Contact</h1>
        <div class="text">
            <p>Email: <a href="mailto:pitrisharal@gmail.com">pitrisharal@gmail.com</a><b></b>
            <!--<p><a href={{i.linkedln}}>Linkedln</a></p>-->
            <p>Phone Cy: <a href="tel:0035799899041">00357-99899041</a><b></b>
            <p>Phone UK: <a href="tel:00447311256343">0044-07311256343</a><b></b>
            <p><a href='https://www.facebook.com/profile.php?id=61571295181569'>Facebook</a><b></b>
        </div>
        <!--<h2 id='viwer'>Views: {{viewer}}</h2>-->
    
</body>
</html>
{% endblock content %}
