{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'mainpage/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'mainpage/education.css' %}">
        <title>Education</title>
    </head>
    <body>
        
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about_me' %}">About Me</a></li>
            <li><a href="{% url 'education' %}">Education</a></li>
            <li><a href="{% url 'skills' %}">Skills</a></li>
            <li><a href="https://res.cloudinary.com/hewckvlra/image/upload/v1720642336/Charalambos-Pitris_ndbebm.pdf">Download CV</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <div class="Education">
            {% for i in data %}
                <h1>{{i.title}}</h1>
                    <div class="text">
                        {{i.text}}
                    </div>
            {% endfor %}
        </div>
        <h2 id='viwer'>Views: {{viewer}}</h2>
    </body>
</html>
{% endblock content %}
