{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'mainpage/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'mainpage/education.css' %}">
        <title>Education</title>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about_me' %}">About Me</a></li>
            <li><a href="{% url 'education' %}">Education</a></li>
            <li><a href="{% url 'skills' %}">Skills</a></li>
            <li><a href="https://onedrive.live.com/download?resid=EF200AFD722E7C0B%21325938&authkey=!APUXq2Y3nwHGXWU&em=2">Download CV</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <div class="Education">
            <h1>Educational Background</h1>
            <div class="text">
                <p><b>Evening School (2003-2007)</b></p>
                <li>Secondary and High School</li><br>

                <p><b>University of Cyprus (2007-2011)</b></p>
                <li>Bachelor Degree in Primary Education</li></br>

                <p><b>Hellenic Open University (Present)</b></p>
                <li>Bachelor Degree in Computer Science</li></br>

                <p><b>Hellenic Open University (Present)</b></p>
                <li>Master Degree in Education and Technologies in <br>Distance Teaching and Learning Systems-Educational Sciences</li>
                <p></p>
            </div>
        </div>
    </body>
</html>
{% endblock content %}