{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'mainpage/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'mainpage/education.css' %}">
        <title>Education</title>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about_me' %}">About Me</a></li>
            <li><a href="{% url 'education' %}">Education</a></li>
            <li><a href="{% url 'skills' %}">Skills</a></li>
            <li><a href="#news">Resume/CV</a></li>
            <li><a href="#about">Contact</a></li>
        </ul>
        <div class="Education">
            <h1>Educational Background</h1>
            <div class="text">
                <p><b>Night School (2003-2007)</b></p>
                <li>Completed secondary and high education.</li></br></br>

                <p><b>University of Cyprus (2007-2011)</b></p>
                <li>Bachelor's Degree in Primary Education.</li></br></br>

                <p><b>Open University of Greece (2022-Present)</b></p>
                <li>Pursuing a Bachelor's Degree in Computer Science (Part-time).</li></br></br>

                <p><b>Open University of Greece (2024-Present)</b></p>
                <li>Enrolled in a Master's Degree program in Education and Technologies in Distance Teaching and Learning Systems-Educational Sciences (ΕΤΑ) (Part-time).</li></br></br>
            </div>
        </div>
    </body>
</html>
{% endblock content %}