{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'mainpage/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'mainpage/homepage.css' %}">
        <title>Main Page</title>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about_me' %}">About Me</a></li>
            <li><a href="{% url 'education' %}">Education</a></li>
            <li><a href="{% url 'skills' %}">Skills</a></li>
            <li><a href="https://1drv.ms/i/c/ef200afd722e7c0b/UQMLfC5y_QogIIDvFPkEAAAAAOJbZIMcbfjIzTA?width=2002&height=1122">Download CV</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <div>
            <p class="welcome-text">𝐖𝐞𝐥𝐜𝐨𝐦𝐞 𝐭𝐨 𝐂𝐡𝐚𝐫𝐚𝐥𝐚𝐦𝐛𝐨𝐬 𝐏𝐢𝐭𝐫𝐢𝐬 𝐏𝐫𝐨𝐟𝐢𝐥𝐞</p>
        </div>
        <h2 id='viwer'>Views: {{viewer}}</h2>
    </body>
</html>
{% endblock content %}
