{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'mainpage/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'mainpage/skills.css' %}">
    <title>Skills</title>
</head>
<body>


    <div class='ul'>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about_me' %}">About Me</a></li>
            <li><a href="{% url 'education' %}">Education</a></li>
            <li><a href="{% url 'skills' %}">Skills</a></li>
            <li><a href="https://res.cloudinary.com/hewckvlra/image/upload/v1735593745/Charalambos-Pitris_8_kuxeel.pdf">Download CV</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>
        <h1>Skills</h1>
        <div class="text">
            {% for j in title %}
                <b>{{ j }}</b>
                {% for i in data %}
                    {% if j == i.title %}
                        <ul>
                            <li>{{ i.text }}</li><br>
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>      
        <h2 id='viwer'>Views: {{viewer}}</h2>
</body>
</html>
{% endblock content %}
