{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'mainpage/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'mainpage/skills.css' %}">
    <title>Skills</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about_me' %}">About Me</a></li>
        <li><a href="{% url 'education' %}">Education</a></li>
        <li><a href="{% url 'skills' %}">Skills</a></li>
        <li><a href="https://onedrive.live.com/download?resid=EF200AFD722E7C0B%21325915&authkey=!ALDYvx7Qx7Torp0&em=2">Download CV</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
    <div class="Skills">
        <h1>Skills</h1>
        <div class="text">
            <li>Primary Education: Comprehensive understanding and hands-on experience in teaching at the primary school level.</li>
            <li>Python Programming: Proficient in Python, with experience in developing applications and automating tasks.</li>
            <li>Django: Skilled in using the Django framework for building robust and scalable web applications.</li>
            <li>HTML & CSS: Competent in creating and styling web pages with HTML and CSS, ensuring responsive and visually appealing designs.</li>
            <li>Tkinter: Experienced in using Tkinter for developing graphical user interfaces (GUIs) in Python applications.</li>
            <li>Distance Learning Technologies: Preparing to specialize in educational technologies and distance learning systems, focusing on modern educational sciences and teaching methodologies.</li>
            <li>Adaptability and Lifelong Learning: Proven ability to effectively balance part-time studies with professional responsibilities, demonstrating exceptional time management skills and a dedicated commitment to continuous learning and self-improvement.</li>
            <li>Effective Communication: Skilled in conveying complex ideas and concepts clearly and concisely, fostering open dialogue and collaboration within teams.</li>
            <li>Problem-Solving: Proficient at analyzing challenges and implementing innovative solutions, leveraging creative thinking and resourcefulness to overcome obstacles.</li>
            <li>Team Collaboration: Experienced in working collaboratively with diverse teams, fostering a positive and inclusive environment to achieve common goals and deliver high-quality results.</li>
            <li>Leadership: Demonstrated leadership capabilities through mentoring and guiding peers, inspiring motivation and fostering a culture of excellence and accountability.</li>
        </div>
    </div>
</body>
</html>
{% endblock content %}