body {
    background-image: url("https://onedrive.live.com/download?resid=EF200AFD722E7C0B%21325908&authkey=%21AOJbZIMcbfjIzTA&width=2002&height=1122");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    height: 210%;
    width:100%;
    margin: 0;
}


h1 {
    margin-top: 35px;
    font-size: 35px;
    margin-left: 20px;
}

.text {
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 300px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    opacity: 0.7;
}

ul {
    font-family:'Times New Roman', Times, serif;
    list-style-type: none;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 650px;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    border-radius: 10px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #000;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    opacity: 0.5;
    color:rgb(0, 0, 0);
}
  
.photo {
    position: absolute;
    right: 50px;
    top: 150px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid;
}

#viwer {
    left: 25px;
    top: 1450px;
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
}

@media only screen and (max-width: 500px) and (min-width: 280px) {
    html {
        height: auto;
        width: auto;
        margin: 0;
    }
    
    
    h1 {
        font-size: 25px;
        margin-left: 5px;
    }
    
    .text {
        font-size: 16px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
    }
    
    ul {
        font-size: 18px;
        margin: 15px;
        margin-right: 20px;
    }
    
    .photo {
        position: relative;
        right: auto;
        top: auto;
        height: 150px;
        width: 150px;
        margin: 20px auto;
        display: block;
    }
    #viwer {
        left: auto;
        top: auto;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 501px) {
    html {
        height: auto;
        width: auto;
        margin: 0;
    }
    
    h1 {
        font-size: 30px;
        margin-left: 10px;
    }
    
    .text {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    
    ul {
        font-size: 20px;
        margin: 20px;
        margin-right: 25px;
    }
    
    .photo {
        position: relative;
        right: auto;
        top: auto;
        height: 200px;
        width: 200px;
        margin: 30px auto;
        display: block;
    }
    #viwer {
        left: auto;
        top: auto;
        font-size: 16px;
    }
}