body {
    background-image: url("https://onedrive.live.com/download?resid=EF200AFD722E7C0B%21325908&authkey=%21AOJbZIMcbfjIzTA&width=2002&height=1122");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    height: 80%;
    width:100%;
    margin: 0;
}

ul {
    font-family:'Times New Roman', Times, serif;
    list-style-type: none;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 650px;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    border-radius: 10px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    opacity: 0.5;
    color:rgb(0, 0, 0);
}


h1 {
    margin-top: 35px;
    font-size: 35px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.text {
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 280px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
    opacity: 0.7;
}

p {
    font-size: 25px;
}

#viwer {
    left: 25px;
    top: 525px;
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
}
@media only screen and (max-width: 500px) and (min-width: 280px) {
    html {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    ul {
        font-size: 18px;
        margin: 15px;
        margin-right: 20px;
    }

    h1 {
        font-size: 25px;
        margin-left: 10px;
    }

    .text {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding: 5px;
        width: 335px;
        height: 250px;
    }

    p {
        font-size: 20px;
    }
    #viwer {
        left: 14px;
        top: auto;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 501px) {
    html {
        height: 190%;
        width: auto;
        margin: 0;
    }
    
    h1 {
        font-size: 30px;
        margin-left: 10px;
    }
    
    .text {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    
    ul {
        font-size: 20px;
        margin: 20px;
        margin-right: 25px;
    }
    #viwer {
        left: 16px;
        top: 480px;
        font-size: 16px;
    }

}