body {
    background-image: url("https://res.cloudinary.com/hewckvlra/image/upload/v1720642099/boat_pg_uiw7uk.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    height: 120%;
    width:100%;
    margin: 0;
}

ul {
    font-family:'Times New Roman', Times, serif;
    list-style-type: none;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 650px;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    border-radius: 10px;
}
  
li {
    float: left;

}

.Education li {
    padding: 10px;
}
  
li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    opacity: 0.5;
    color:rgb(0, 0, 0);
}


h1 {
    margin-top: 35px;
    font-size: 35px;
    margin-left: 20px;
}
.text li {
    font-size: 18px;
}
.text {
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 500px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    opacity: 0.7;
}

p {
    margin-top: 20px;
    font-size: 25px;
}

#viwer {
    left: 25px;
    top: 750px;
    position: absolute;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
}
@media only screen and (max-width: 500px) and (min-width: 280px) {
    html {
        height: 118%;
        width: auto;
        margin: 0;
    }

    ul {
        font-size: 18px;
        margin: 15px;
        margin-right: 20px;
    }

    h1 {
        font-size: 25px;
        margin-left: 10px;
    }

    .text {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding: 5px;
        width: 335px;
        height: 530px;
    }

    p {
        font-size: 20px;
    }
    #viwer {
        left: 14px;
        top:750px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 501px) {
    html {
        height: 260%;
        width: auto;
        margin: 0;
    }
    
    h1 {
        font-size: 30px;
        margin-left: 10px;
    }
    
    .text {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    
    ul {
        font-size: 20px;
        margin: 20px;
        margin-right: 25px;
    }
    #viwer {
        left: 14px;
        top: 700px;
        font-size: 16px;
    }
    
}