body {
    background-image: url("https://onedrive.live.com/download?resid=EF200AFD722E7C0B%21325908&authkey=%21AOJbZIMcbfjIzTA&width=2002&height=1122");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    height: 87%;
    width:100%;
    margin: 0;
}

ul {
    font-family:'Times New Roman', Times, serif;
    list-style-type: none;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 25px;
    padding: 0;
    width: 200px;
}
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
  /* Change the link color on hover */
li a:hover {
    opacity: 0.5;
    color:rgb(0, 0, 0);
}

.welcome-text {
    position: absolute;
    text-align: center;
    padding-top: 10px;
    top: 25px;
    right: 100px;
    font-size: 45px;
    color: white;
    background-color: rgb(138, 138, 138);
    opacity: 0.5;
    border-radius: 10px;
    height: 9%;
    width: 60%;
}

@media only screen and (max-width: 500px) and (min-width: 280px) {
    html {
        height: 100%;
        width:54%;
    }
    ul {
        margin-left: 25px;
        margin-top: 25px;
    }
    .welcome-text {
        font-size: 24px;
        top: 520px;
        right: 30px;
        width: 80%;
        height: auto;
        padding: 5px;
    }
    
  }

@media only screen and (max-width: 1000px) and (min-width: 501px) {
    html {
        height: 130%;
        width:120%;
    }
    ul {
        margin-left: 25px;
    }
    .welcome-text {
        font-size: 30px;
        top: 40px;
        right: 25px;
    }
  }